doctype html
html.no-js(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= title
		link(rel="stylesheet" href="/css/normalize.css")
		link(rel="stylesheet" href="/css/foundation.css")
		link(rel="stylesheet" href="/css/foundation-icons.css")
		link(rel="stylesheet" href="/css/style.css")
		script(src="/js/modernizr.js")
	body
		nav.top-bar(data-topbar role="navigation")
			.row
				.column.large-12
					ul.title-area
						li.name
							h1: a(href="/") Flash Card
		#wrap.row
			block content

		script(src="/js/jquery.js")
		script(src="/js/foundation.min.js")
		script(src="/js/jquery.quickflip.min.js")
		script(src="/js/main.js")
		script $(document).foundation();
